.card-action{
    display: flex;
    justify-content: space-between;
}

.card-image,
.material-icons,
.card-address{
    cursor: pointer;
}

.modal-footer button:focus{
    background-color: rgba(239, 239, 239);
    border: 1px outset rgba(118, 118, 118);
    border-radius: 5px;
}

.image-size{
    height: 50vh;
}

@media screen and (max-width: 830px){
    .image-size{
        height: 100%;
    }
}

@media screen and (max-width: 320px){
    .card .card-title{
        font-size: 18px;
    }

    .card .card-action{
        padding: 16px 5px;
    }
}